.div-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.div-container-start {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.card-shadow {
  box-shadow: 10px 12px 4px 0px rgb(0 0 0 / 35%);
}

.rowCustom {
  justify-content: center;
}

.container-list {
  height: 100vh;
  overflow-y: scroll;
}

.p-8 {
  padding: 3rem;
}

.rectangle--portrait {
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  background-size: cover;
  display: block;
}
